In [1]:
#creating a tuple

In [2]:
mytuple=(1,2,3,4)
print(mytuple)
print(type(mytuple))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
#mixed data type tuple

In [4]:
tuple=(1,'hello',3.2,3+2j)
print(tuple)
print(type(tuple))

(1, 'hello', 3.2, (3+2j))
<class 'tuple'>

In [5]:
#empty tuple

In [6]:
tuple=()
print(tuple)
print(type(tuple))

()
<class 'tuple'>

In [7]:
#nested tuple

In [8]:
a=('data',[1,2,3,4],(5,6,7,8))
print(a)
print(type(a))

('data', [1, 2, 3, 4], (5, 6, 7, 8))
<class 'tuple'>

In [9]:
#creating a tuple with only one item

In [12]:
var1=('hello')
print(var1)
print(type(var1))

hello
<class 'str'>

In [13]:
var1=('hello',)
print(var1)
print(type(var1))

('hello',)
<class 'tuple'>

In [15]:
var1=(2,)
print(var1)
print(type(var1))

(2,)
<class 'tuple'>

In [24]:
#Indexing

In [25]:
a= (45,46,36,76,23,87,44)
print(a[3])

76

In [26]:
a= (45,46,36,76,23,87,44,'data','python')
print(a[8])

python

In [27]:
a= (45,46,36,76,23,87,44)
print(a[-2])

87

In [28]:
#slicing in tuple

In [29]:
a=(1,2,3,4,5,6,7,8,9,11,22,33,44,55,66)
print(len(a))

15

In [30]:
a=(1,2,3,4,5,6,7,8,9,11,22,33,44,55,66)
print(a[0:6])

(1, 2, 3, 4, 5, 6)

In [32]:
a=(1,2,3,4,5,6,7,8,9,11,22,33,44,55,66)
print(a[0::3])

(1, 4, 7, 11, 44)

In [34]:
#reverse the tuple

In [33]:
a=(1,2,3,4,5,6,7,8,9,11,22,33,44,55,66)
print(a[::-1])

(66, 55, 44, 33, 22, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [37]:
#loop

In [38]:
thistuple=('a','b','c')
for x in thistuple:
    print(x)

a
b
c

In [39]:
#join two tuple

In [40]:
tuple1=('a','b','c')
tuple2=(1,2,3)
tuple3= tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [41]:
# multiply two tuple

In [42]:
tuple1=('a','b','c')
b=a*3
print(b)

(25, 26, 27, 28, 29, 25, 26, 27, 28, 29, 25, 26, 27, 28, 29)